# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
*.py[cod]
*__pycache__/

# Virtual environment
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Backup / temporary files
*.bak
*.tmp