# Python kodunu öncelikli göster
*.py linguist-language=Python

# Statik dosyaları analiz dışı bırak
static/* linguist-vendored
staticfiles/* linguist-vendored
media/* linguist-vendored

# Ortam ve sistem dosyaları
*.log linguist-vendored
