# Python ana dil olarak gösterilsin
*.py linguist-language=Python

# HTML dosyalarını analiz dışında tut
templates/* linguist-vendored
*.html linguist-vendored

# Statik ve medya dosyalarını analiz dışında tut
static/* linguist-vendored
staticfiles/* linguist-vendored
media/* linguist-vendored
